# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Rproj
.Rproj.user/
.Ruserdata

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

temperature.csv
